/* styles.css */

html,
body {
    height: 100%;
}

/* cover */

#cover {
    background: #222 url('../img/DSC_2660.jpg') center center no-repeat;
    background-size: cover;
    color:white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.navbar-brand{
    font-family: cursive;  
}
.mainLogo{
    width: 300px;
}
.carousel-item img {
    height: 530px !important;
    width: 1260px !important;
}
/*
#cover-caption{
    width: 100%;
}
*/

